body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.countdown-container {
    margin-top: 100px;
}

#countdown {
    font-size: 36px;
}

/* Apply Gotham Narrow font to h1 elements */
h1 {
    font-family: "Gotham Narrow", Arial, sans-serif;
}
