body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center; /* Center align all text */
    margin: 0; /* Reset default body margin */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure full viewport height */
}

#countdown {
    font-size: 36px;
    line-height: 0.3; /* Adjust line spacing for h1 */
}

h1 {
    font-family: "Gotham Narrow", Arial, sans-serif;
    font-size: 80px;
}
